$color-brand: #91b030;
$color-brand-light: #a1c435;
$color-brand-dark: #3d5c00;

$color-brand2: #697987;

$color-main-bg: #cdd8cb;

$color-white: #ffffff;
$color-grey: #f3f3f3;
$color-grey-dark: #737373;
